:root {
    --main-color: #bc3d36;
    --sec-color: #f8f7f2;
    --third-color: #53565a;

    --third-color-hover: #ba716d;
/*
    --cursor-default: url('cursors/default/paw1.svg') 16 16, default;
    --cursor-pointer: url('cursors/pointer/point.svg') 16 16, default
    */
}

/*-- Index Page Start --*/
* {
    box-sizing: border-box;
    /*scroll-behavior: smooth;*/
}

#root {
    position: absolute;
}

body {
    width: 1920px;
    height: auto;
    margin: 0;
    font-family: 'Capriola', sans-serif;
    font-weight: 400;
    background-color: var(--main-color);
    color: var(--sec-color);
    cursor: var(--cursor-default);
}

.links {
    text-decoration: none;
    color: #f8f7f2;
}

.links:hover {
    text-decoration: none;
    cursor: var(--cursor-pointer);
    color: var(--third-color);
}

.underline {
    text-decoration: underline;
}

.center-fixed {
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

img {
    max-width: 100%;
    height: auto;
}

.home-page {
    display: flex;
    flex-wrap: wrap;
}

.home-products-container{
    padding-left: 45rem;
}

.main {
    width: 1920px;
    height: 1080px;
}

.main-container {
    width: 1920px;
    height: 1080px;
    position: relative;
}


.video-overlay {
    color: var(--sec-color);
    position: absolute;
    bottom: 700px;
    left: 130px;
    font-size: 6vh;
}

.video-overlay2 {
    color: var(--sec-color);
    position: absolute;
    bottom: 600px;
    left: 455px;
    font-size: 6vh;
}

.social-icons {
    position: absolute;
    font-size: 4vh;
    bottom: 30px;
    right: 100px;
}

.social-icons a {
    color: var(--sec-color);
    padding: 10px;
}

.social-icons a:hover {
    color: var(--third-color);
    cursor: var(--cursor-pointer);
}

.mid-site {
    border-top: 2px solid var(--third-color);
}

.slideshow {
    position: absolute;
    height: 45vh;
    left: 250px;
}

.slider-text-1 {
    position: absolute;
    font-size: 3.5em;
    padding: 1vh;
    padding-left: 7vh;
    margin-top: 50px;
}

.slider-text-2 {
    position: absolute;
    font-size: 3.5em;
    padding: 1vh;
    padding-left: 8.65vh;
    margin-top: 300px;
}

.slider-shop-now {
    position: absolute;
    font-size: 2em;
    border: 0.5vh solid var(--sec-color);
    width: 140px;
    text-align: center;
    padding: 1.5vh;
    border-radius: 2rem;
    margin-left: 19vh;
    margin-top: 170px;
}


.shop-now-container a .slider-shop-now {
    color: var(--sec-color);
    cursor: var(--cursor-pointer);
}


.slider-shop-now:hover {
    background-color: var(--third-color);
    cursor: var(--cursor-pointer);
}

.slider-frame {
    overflow: hidden;
    height: 450px;
    width: 1200px;
    margin-left: 37%;
    padding-top: 20px;
}

.slider-images {
    width: 7200px;
    height: 450px;
    margin: 0 0 0 -3600;
    position: relative;
    -webkit-animation-name: slide-animation;
    -webkit-animation-duration: 30s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: normal;
    -webkit-animation-play-state: running;
}

.slider-images .img-container {
    height: 450px;
    width: 1200px;
    position: relative;
    float: left;
}

.slider-images a {
    cursor: var(--cursor-pointer);
}

@-webkit-keyframes slide-animation {
    0% {
        left: 0%
    }

    10% {
        left: 0%
    }

    20% {
        left: -100%
    }

    30% {
        left: -100%
    }

    40% {
        left: -200%
    }

    50% {
        left: -200%
    }

    60% {
        left: -300%
    }

    70% {
        left: -300%
    }

    80% {
        left: -400%
    }

    90% {
        left: -400%
    }

    100% {
        left: -500%
    }

    110% {
        left: -500%
    }

}

.best-sellers-section {
    margin-top: 400px;
    border-top: 2px solid var(--third-color);
}

.best-sellers {
    color: var(--sec-color);
    font-size: 4.5em;
    text-align: center;
    padding-top: 1vh;
    padding-bottom: 1vh;
}

.sale-items {
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 1.5%;
}

.sale-items-flexbox1 {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
}

.sale-items-flexbox2 {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
}

#plus {
    font-size: 2vh;
    cursor: var(--cursor-pointer);
}

#heart {
    font-size: 2vh;
    cursor: var(--cursor-pointer);
}

.plus-index {
    cursor: var(--cursor-pointer);
    position: absolute;
    margin-left: 5px;
    top: 0;
    left: 0;
}

.heart-index {
    cursor: var(--cursor-pointer);
    position: absolute;
    top: 0;
    right: 0;
}

.collar-1 {
    /*display: flex;*/
    position: relative;
}

.collar-2 {
    /*display: flex;*/
    position: relative;
}

.collar-3 {
    /*display: flex;*/
    position: relative;
}

.collar-4 {
    /*display: flex;*/
    position: relative;
}

.collar-5 {
    /*display: flex;*/
    position: relative;
}

.collar-6 {
    /*display: flex;*/
    position: relative;
}


.collar-1 img {
    padding: 2vh;
}

.collar-2 img {
    padding: 2vh;
}

.collar-3 img {
    padding: 2vh;
}

.collar-4 img {
    padding: 2vh;
}

.collar-5 img {
    padding: 2vh;
}

.collar-6 img {
    padding: 2vh;
}

.collar-1 img:hover {
    background-color: var(--third-color-hover);
    border-radius: 20px;
    z-index: 0;
    padding: 2vh;
    cursor: var(--cursor-pointer);
}

.collar-2 img:hover {
    background-color: var(--third-color-hover);
    border-radius: 20px;
    z-index: 0;
    padding: 2vh;
    cursor: var(--cursor-pointer);
}

.collar-3 img:hover {
    background-color: var(--third-color-hover);
    border-radius: 20px;
    z-index: 0;
    padding: 2vh;
    cursor: var(--cursor-pointer);
}

.collar-4 img:hover {
    background-color: var(--third-color-hover);
    border-radius: 20px;
    z-index: 0;
    padding: 2vh;
    cursor: var(--cursor-pointer);
}

.collar-5 img:hover {
    background-color: var(--third-color-hover);
    border-radius: 20px;
    z-index: 0;
    padding: 2vh;
    cursor: var(--cursor-pointer);
}

.collar-6 img:hover {
    background-color: var(--third-color-hover);
    border-radius: 20px;
    z-index: 0;
    padding: 2vh;
    cursor: var(--cursor-pointer);
}

footer {
    color: var(--sec-color);
    border-top: 2px solid var(--third-color);
    text-align: center;
    padding: 0.4%;

}

footer .text-1 {
    font-size: 3em;
    padding-bottom: 2vh;
}

footer .text-2 {
    font-size: 1em;
}

/*-- Index Page End --*/

/*-- About Us Page Start--*/

.topic {}

.topic .topic-text {
    font-size: 8em;
    text-align: center;
    padding: 2vh;
}

.main-info {
    text-align: center;
}

.main-info-text-1 {
    padding-top: 3vh;
    font-size: 2em;
}

.main-info-text-2 {
    padding: 1.2vh;
    font-size: 3em;
}

.main-info-text-3 {
    padding: 1vh;
    padding-bottom: 3vh;
    font-size: 1.5em;
}

.about-form {
    text-align: center;
}

.about-form-text-1 {
    padding-bottom: 2vh;
    font-size: 4em;
}

.about-form-text-1 span {
    font-size: 2em;
}

.about-form-text-2 {
    font-size: 3em;
    padding-bottom: 1.5vh;
}

.fill-form {
    text-align: center;
}

.name-form {
    padding: 1vh;
    font-size: 2em;
}

.name-text {
    padding: 1vh;
    font-size: 2em;
}

.gender-form {
    padding: 1vh;
    font-size: 2em;
}

.gender-text {
    padding: 1vh;
    font-size: 2em;
}

.check-form {
    padding: 1vh;
    font-size: 2em;
}

.check-text {
    padding: 1vh;
    font-size: 1.5em;
}

.email-form {
    padding: 1vh;
    font-size: 2em;
}

.email-text {
    padding: 1vh;
    font-size: 2em;
}

.message-form {
    padding: 1vh;
    font-size: 1.5em;
}

.message-text {
    padding: 1vh;
    font-size: 1em;
}

.submit-button {
    padding: 1vh;
    font-size: 2em;
}

/*  -----neon effect start----- */

:root {
    /* Base font size */
    font-size: 0.5em;

    /* Set neon color */
    --neon-text-color: var(--third-color);
    --neon-border-color: var(--sec-color);
}

.neon-container {
    display: flex;
    margin-left: 380px;
    margin-bottom: 20px;
}

.neon-text {
    font-size: 10rem;
    color: #fff;
    padding: 4rem 6rem 5.5rem;
    border: 0.4rem solid #fff;
    border-radius: 2rem;
    text-transform: uppercase;
    animation: flicker 1.5s infinite alternate;
}

.neon-text::-moz-selection {
    background-color: var(--neon-border-color);
    color: var(--neon-text-color);
}

.neon-text::selection {
    background-color: var(--neon-border-color);
    color: var(--neon-text-color);
}

.neon-text:focus {
    outline: none;
}

/* Animate neon flicker */
@keyframes flicker {

    0%,
    19%,
    21%,
    23%,
    25%,
    54%,
    56%,
    100% {

        text-shadow:
            -0.2rem -0.2rem 1rem #fff,
            0.2rem 0.2rem 1rem #fff,
            0 0 2rem var(--neon-text-color),
            0 0 4rem var(--neon-text-color),
            0 0 6rem var(--neon-text-color),
            0 0 8rem var(--neon-text-color),
            0 0 10rem var(--neon-text-color);

        box-shadow:
            0 0 .5rem #fff,
            inset 0 0 .5rem #fff,
            0 0 2rem var(--neon-border-color),
            inset 0 0 2rem var(--neon-border-color),
            0 0 4rem var(--neon-border-color),
            inset 0 0 4rem var(--neon-border-color);
    }

    20%,
    24%,
    55% {
        text-shadow: none;
        box-shadow: none;
    }


}

/* -----neon effect end----- */
/*-- About Us Page End--*/


/*-- Shop Page Start --*/

.catagory-picker {
    display: flex;
    justify-content: space-evenly;
    width: 1700px;
    margin-left: 100px;
    margin-top: 3rem;
    border-bottom: 2px solid var(--third-color);
    padding-bottom: 3rem;
    color: var(--third-color);
    font-family: 'Capriola';
}

.neon-catagory-btn:hover{
    background-color: var(--third-color-hover);
    cursor: var(--cursor-pointer);
}

.splash-catagory-btn:hover {
    background-color: var(--third-color-hover);
    cursor: var(--cursor-pointer); 
}

.monotone-catagory-btn:hover {
    background-color: var(--third-color-hover);
    cursor: var(--cursor-pointer); 
}

.pastel-catagory-btn:hover {
    background-color: var(--third-color-hover);
    cursor: var(--cursor-pointer); 
}

.winter-catagory-btn:hover {
    background-color: var(--third-color-hover);
    cursor: var(--cursor-pointer);
}

.favorites-catagory-btn:hover {
    background-color: var(--third-color-hover);
    cursor: var(--cursor-pointer); 
}

.all-catagory-btn {
    padding: 1.5rem 6rem;
    border-radius: 2rem;
    background-color: var(--sec-color);
    font-size: medium;
    border: 2px solid var(--third-color);
}

.plus-shop {
    position: absolute;
    font-size: 2vh;
    top: 0.7rem;
    left: 1rem;
}

.heart-shop {
    position: absolute;
    font-size: 2vh;
    top: 0.7rem;
    right: 1rem;
}

/*-- Neon Collection Start --*/
.neon-collection-container {
    border-bottom: var(--third-color) 2px solid;
    width: 1700px;
    margin-left: auto;
    margin-right: auto;
}

.neon-collection-text {
    color: var(--sec-color);
    font-size: 4.5em;
    text-align: center;
    padding-top: 100px;
}

.neon-collection {
    margin-top: 1.5%;
    display: flex;
}

.neon-part1 {}

.neon-part2 {}

.neon-collection-flexbox1 {
    display: flex;
    padding: 5vh;
}

.neon-collection-flexbox2 {
    display: flex;
    padding: 5vh;
    flex-direction: column;
}

.collar-neon-1 {
    position: relative;
}

.collar-neon-2 {
    position: relative;
}

.collar-neon-3 {
    position: relative;
}

.collar-neon-4 {
    position: relative;
}

.collar-neon-5 {
    position: relative;
}

.collar-neon-1 img {
    padding: 2vh;
    padding-top: 50px;
    margin-right: 170px;
    margin-left: 65px;
}

.collar-neon-2 img {
    padding: 2vh;
}

.collar-neon-3 img {
    padding: 2vh;
}

.collar-neon-4 img {
    padding: 2vh;
}

.collar-neon-5 img {
    padding: 2vh;
}

.collar-neon-1 img:hover {
    background-color: var(--third-color-hover);
    border-radius: 20px;
    z-index: 0;
    cursor: var(--cursor-pointer);
}

.collar-neon-2 img:hover {
    background-color: var(--third-color-hover);
    border-radius: 20px;
    z-index: 0;
    cursor: var(--cursor-pointer);
}

.collar-neon-3 img:hover {
    background-color: var(--third-color-hover);
    border-radius: 20px;
    z-index: 0;
    cursor: var(--cursor-pointer);
}

.collar-neon-4 img:hover {
    background-color: var(--third-color-hover);
    border-radius: 20px;
    z-index: 0;
    cursor: var(--cursor-pointer);
}

.collar-neon-5 img:hover {
    background-color: var(--third-color-hover);
    border-radius: 20px;
    z-index: 0;
    cursor: var(--cursor-pointer);
}

/*-- Neon Collection End --*/


/*-- Splash Collection Start --*/
.splash-collection-container {
    border-bottom: var(--third-color) 2px solid;
}

.splash-collection-text {
    color: var(--sec-color);
    font-size: 4.5em;
    text-align: center;
    padding-top: 100px;
}

.splash-collection {
    display: flex;
    padding-top: 5vh;
    padding-bottom: 5vh;
}

.splash-collection-flexbox1 {
    display: flex;
    flex-direction: column;
}

.splash-collection-flexbox2 {
    display: flex;
    width: 50%;
    margin-right: 10vh;
}

.splash-part1 {}

.splash-part2 {}

.collar-splash-1 {
    position: relative;
}

.collar-splash-2 {
    position: relative;
}

.collar-splash-3 {
    position: relative;
}

.collar-splash-4 {
    position: relative;
}

.collar-splash-5 {
    position: relative;
}

.collar-splash-1 img {
    padding: 2vh;
    padding-top: 50px;
    margin-right: 220px;
    margin-left: 170px;
}

.collar-splash-2 img {
    padding: 2vh;
}

.collar-splash-3 img {
    padding: 2vh;
}

.collar-splash-4 img {
    padding: 2vh;
}

.collar-splash-5 img {
    padding: 2vh;
}

.collar-splash-1 img:hover {
    background-color: var(--third-color-hover);
    border-radius: 20px;
    z-index: 0;
    cursor: var(--cursor-pointer);
}

.collar-splash-2 img:hover {
    background-color: var(--third-color-hover);
    border-radius: 20px;
    z-index: 0;
    cursor: var(--cursor-pointer);
}

.collar-splash-3 img:hover {
    background-color: var(--third-color-hover);
    border-radius: 20px;
    z-index: 0;
    cursor: var(--cursor-pointer);
}

.collar-splash-4 img:hover {
    background-color: var(--third-color-hover);
    border-radius: 20px;
    z-index: 0;
    cursor: var(--cursor-pointer);
}

.collar-splash-5 img:hover {
    background-color: var(--third-color-hover);
    border-radius: 20px;
    z-index: 0;
    cursor: var(--cursor-pointer);
}

/*-- Splash Collection End --*/

/*-- Monotone Collection Start --*/
.monotone-collection-container {
    border-bottom: var(--third-color) 2px solid;
}

.monotone-collection-text {
    color: var(--sec-color);
    font-size: 4.5em;
    text-align: center;
    padding-top: 2.5vh;
    padding-bottom: 1vh;
}

.monotone-collection {
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 1.5%;
    display: flex;
}

.monotone-collection-flexbox1 {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    padding: 5vh;
    flex-direction: column;
}

.monotone-collection-flexbox2 {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    padding: 5vh;
    flex-direction: column;
}

.monotone-collection-flexbox3 {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    padding: 5vh;
    flex-direction: column;
    ;
}

.collar-monotone-1 {
    position: relative;
    width: 85%;
}

.collar-monotone-2 {
    position: relative;
    width: 85%;
}

.collar-monotone-3 {
    position: relative;
}

.collar-monotone-4 {
    position: relative;
}

.collar-monotone-5 {
    position: relative;
}

.collar-monotone-1 img {
    padding: 2vh;
    width: 100%;
    height: auto;
}

.collar-monotone-2 img {
    padding: 2vh;
    width: 100%;
    height: auto;
}

.collar-monotone-3 img {
    width: 100%;
    margin-bottom: 150px;
    padding: 20px;
}

.collar-monotone-4 img {
    padding: 2vh;
    width: 90%;
    height: auto;
}

.collar-monotone-5 img {
    padding: 2vh;
    width: 90%;
    height: auto;
}

.collar-monotone-1 img:hover {
    background-color: var(--third-color-hover);
    border-radius: 20px;
    z-index: 0;
    cursor: var(--cursor-pointer);
}

.collar-monotone-2 img:hover {
    background-color: var(--third-color-hover);
    border-radius: 20px;
    z-index: 0;
    cursor: var(--cursor-pointer);
}

.collar-monotone-3 img:hover {
    background-color: var(--third-color-hover);
    border-radius: 20px;
    z-index: 0;
    margin-bottom: 150px;
    cursor: var(--cursor-pointer);
}

.collar-monotone-4 img:hover {
    background-color: var(--third-color-hover);
    border-radius: 20px;
    z-index: 0;
    cursor: var(--cursor-pointer);
}

.collar-monotone-5 img:hover {
    background-color: var(--third-color-hover);
    border-radius: 20px;
    z-index: 0;
    cursor: var(--cursor-pointer);
}

/*-- Monotone Collection End --*/

/*-- Pastel Collection Start --*/
.pastel-collection-container {
    border-bottom: var(--third-color) 2px solid;
}

.pastel-collection-text {
    color: var(--sec-color);
    font-size: 4.5em;
    text-align: center;
    padding-top: 1vh;
    padding-bottom: 1vh;
    margin-top: 70px;
}

.pastel-collection {
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 1.5%;
    display: flex;
}

.pastel-collection-flexbox1 {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    padding: 5vh;
    flex-direction: column;
}

.pastel-collection-flexbox2 {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    padding: 5vh;
}

.pastel-part1 {
    display: flex;
    flex-direction: column;
}

.pastel-part2 {
    display: flex;
    flex-direction: column;
}

.collar-pastel-1 {
    position: relative;
}

.collar-pastel-2 {
    position: relative;
}

.collar-pastel-3 {
    position: relative;
}

.collar-pastel-4 {
    position: relative;
}

.collar-pastel-5 {
    position: relative;
}

.collar-pastel-1 img {
    padding: 2vh;
    margin-top: 80px;
}

.collar-pastel-2 img {
    padding: 2vh;
}

.collar-pastel-3 img {
    padding: 2vh;
}

.collar-pastel-4 img {
    padding: 2vh;
}

.collar-pastel-5 img {
    padding: 2vh;
}

.collar-pastel-1 img:hover {
    background-color: var(--third-color-hover);
    border-radius: 20px;
    z-index: 0;
    cursor: var(--cursor-pointer);
}

.collar-pastel-2 img:hover {
    background-color: var(--third-color-hover);
    border-radius: 20px;
    z-index: 0;
    cursor: var(--cursor-pointer);
}

.collar-pastel-3 img:hover {
    background-color: var(--third-color-hover);
    border-radius: 20px;
    z-index: 0;
    cursor: var(--cursor-pointer);
}

.collar-pastel-4 img:hover {
    background-color: var(--third-color-hover);
    border-radius: 20px;
    z-index: 0;
    cursor: var(--cursor-pointer);
}

.collar-pastel-5 img:hover {
    background-color: var(--third-color-hover);
    border-radius: 20px;
    z-index: 0;
    cursor: var(--cursor-pointer);
}

/*-- Pastel Collection End --*/

/*-- Winter Collection Start --*/
.winter-collection-container {
    border-bottom: var(--third-color) 2px solid;
}

.winter-collection-text {
    color: var(--sec-color);
    font-size: 4.5em;
    text-align: center;
    padding-top: 1vh;
    padding-bottom: 1vh;
    margin-top: 70px;
}

.winter-collection {
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 1.5%;
    display: flex;
}

.winter-collection-flexbox1 {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    padding: 5vh;
}

.winter-collection-flexbox2 {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    padding: 5vh;
    flex-direction: column;
}

.winter-part1 {
    display: flex;
    flex-direction: column;
}

.winter-part2 {
    display: flex;
    flex-direction: column;
}

.collar-winter-1 {
    position: relative;
}

.collar-winter-2 {
    position: relative;
}

.collar-winter-3 {
    position: relative;
}

.collar-winter-4 {
    position: relative;
}

.collar-winter-5 {
    position: relative;
}

.collar-winter-1 img {
    padding: 2vh;
}

.collar-winter-2 img {
    padding: 2vh;
}

.collar-winter-3 img {
    padding: 2vh;
}

.collar-winter-4 img {
    padding: 2vh;
}

.collar-winter-5 img {
    padding: 2vh;
    margin-top: 60px;
}

.collar-winter-1 img:hover {
    background-color: var(--third-color-hover);
    border-radius: 20px;
    z-index: 0;
    cursor: var(--cursor-pointer);
}

.collar-winter-2 img:hover {
    background-color: var(--third-color-hover);
    border-radius: 20px;
    z-index: 0;
    cursor: var(--cursor-pointer);
}

.collar-winter-3 img:hover {
    background-color: var(--third-color-hover);
    border-radius: 20px;
    z-index: 0;
    cursor: var(--cursor-pointer);
}

.collar-winter-4 img:hover {
    background-color: var(--third-color-hover);
    border-radius: 20px;
    z-index: 0;
    cursor: var(--cursor-pointer);
}

.collar-winter-5 img:hover {
    background-color: var(--third-color-hover);
    border-radius: 20px;
    z-index: 0;
    cursor: var(--cursor-pointer);
}

/*-- Winter Collection End --*/

/*-- specific collars in shop start --*/

/* neon collar 1 */
.plus-shop-neon-1 {
    left: 9rem;
}

.heart-shop-neon-1 {
    right: 5rem;
}

/*----------------*/
/* collar splash 1 */
.plus-shop-splash-1 {
    left: 22rem;
}

.heart-shop-splash-1 {
    right: 22rem;
}

/*----------------*/
/* collar pstel 1*/
.plus-shop-pastel-1 {
    top: 19rem;
}

.heart-shop-pastel-1 {
    top: 19rem;
}

/*----------------*/
/* collar winter 5*/
.plus-shop-winter-5 {
    top: 8rem;
}

.heart-shop-winter-5 {
    top: 8rem;
}

/*----------------*/

/*-- specific collars in shop end --*/

.favorites-container {
        
        width: 1700px;
        border-bottom: 2px solid var(--third-color);
        margin-left: auto;
        margin-right: auto;
}

.favorites-text {
    margin-left: 40%;
    font-size: xxx-large;
    padding-top: 2vh;
}

.favorites-collection {
    display: flex;
    flex-wrap: wrap;
    padding-top: 6vh;
    padding-bottom: 6vh;
    justify-content: center;
}

.favorite-collar {
    padding: 1rem;
    padding-bottom: 5rem;
}

.favorite-collar img {
    width: 80%;
    padding: 2vh;
}

.favorite-collar img:hover {
        background-color: var(--third-color-hover);
        border-radius: 20px;
        z-index: 0;
        cursor: var(--cursor-pointer);
}

/*-- Shop Page End --*/

/*-- cart menu start --*/

.cart-menu {
    position: absolute;
    background-color: var(--third-color-hover);
    width: 520px;
    height: 750px;
    top: 10rem;
    right: 0;
    border-radius: 15px;
    overflow: scroll;
}


/*-- cart menu end--*/

/*-- Cart Page Start --*/

.cart-products {
    width: 520px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-top: 15px;
    border-bottom: 1px solid var(--sec-color);
    font-size: 2vh;
    padding-bottom: 15px;
    box-sizing: border-box;
}

/*-- for every item in cart - start --*/

.cart-item-container {
    display: flex;
    align-items: center;
    padding-top: 2rem;
    width: 100%;
    font-size: medium;
    border-top: 1px solid var(--sec-color);
}

.cart-item-remove {
    padding-left: 2rem;
}

.cart-item-img {
    width: 18%;
    margin-left: 3rem;
}

.cart-item-name {
    padding-left: 2rem;
}

.cart-item-price {
    padding-left: 2rem;
}

.cart-item-quantity {
    padding-left: 2rem;
}

.cart-item-total {
    padding-left: 3rem;
}

.total-container {
    display: flex;
    position: absolute;
    left: 160rem;
    font-size: x-large;
}

.total-number {
    padding-left: 2rem;
}

/*-- for every item in cart - end --*/

.checkout-btn button {
    font-size: 3vh;
    font-family: 'Capriola';
    border-radius: 1rem;
    color: var(--third-color);
    background-color: var(--sec-color);
    padding: 1vh 2vh;
    margin-top: 1rem;
    margin-left: 2rem;
}

.checkout-btn button a {
    text-decoration: none;
    color: var(--third-color);
}

.cart-end {
    display: flex;
}

.cart-menu-total {
    font-size: x-large;
    color: var(--sec-color);
    font-size: x-large;
    color: var(--sec-color);
    margin-left: 18rem;
    margin-top: 2.7rem;
}

.total-cart-menu-value {
    font-size: x-large;
    color: var(--sec-color);
}

/*-- Cart Page End --*/

.plus-shop {
    cursor: var(--cursor-pointer);
}

.heart-shop {
    cursor: var(--cursor-pointer);
}

.show {
    opacity: 1;
}

.hide {
    opacity: 0;
    z-index: -1;
    display: none;
}

.bones-color{
    color: var(--third-color);
    cursor: var(--cursor-pointer);
}

/* liked products page start*/

    .liked-products-container{
        display: flex;
        /* justify-content: center; */
        flex-direction: column;
        align-items: center;;
    }

    .liked-products{
        display: flex;
        width: 1200px;
        justify-content: space-around;
        align-items: center;
        border-bottom: 1px solid var(--sec-color);
        padding: 3rem;
        margin-bottom: 3rem;
    }

    .liked-remove{
        font-size: xxx-large;
    }

    .liked-img{
        width: 35%;
    }

    .liked-name{
        font-size: xxx-large;
    }

    .liked-products:hover {
        background-color: var(--third-color-hover);
        border-radius: 20px;
        z-index: 0;
        cursor: var(--cursor-pointer);
    }

/* liked products page end*/

.hover{
    background: var(--third-color-hover);
    cursor: var(--cursor-pointer);
}

.point{
    cursor: var(--cursor-pointer);
}