.register-fieldset-legend{
	font-size: 6rem;
}

.register-form{
    display: flex;
    justify-content: space-between;
    width: 900px;
}

.register-container{
    display: flex;
    width: 1920px;
    /* align-items: center; */
    font-size: 3rem;
    margin-top: 170px;
    /* margin-left: 400px; */
    justify-content: center;
    margin-bottom: 43.5rem;
}
.register-input-div{
	display: flex;
	flex-direction: row;
	width: 100%;
}

.register-adress-card{
	display: flex;
	flex-direction: row;
}

.register-container fieldset{
	padding-left: 40rem;
}
